@using MengGrocery.Models 
@model AccountViewModel 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 


@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  @if(Model != null && Model.Orders != null && Model.Orders.Count > 0)
  {
    <h2>Orders</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Order Total</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var order in Model.Orders)
        {
          <tr>
            <td>@order.OrderID</td>
            <td>@order.CreatedAt</td>
            <td>@order.TotalAmount</td>
            <td>@order.OrderStatus</td>
          </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <p>No orders found.</p>
  }
</div>